.properties-dialog {
    border-top-style: ridge;
    margin-top: 20px;
    padding-top: 10px;
    height: 350px;
    overflow: auto;
}

.properties-dialog .form-horizontal {
    width: 90%;
    margin-left: 20px;
}

.viewerWrapper{
    height: 700px;
    overflow: auto;
}

.metadata-div {
    background-color: white;
    padding: 20px;
    margin: 20px;
    min-height: 800px;
    height: 100%;
    position: relative;
}

.abn-tree {
    height: 350px;
    overflow: auto;
}

.abn-tree a {
    font-size: 14px;
    color: #1565c0;
}

.thumbnail {
    background-color: transparent;
}
.thumbnail img {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

}


.thumbnail:hover {
    text-decoration: none;
    color: #1565c0;
}

.pdf-controls {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    color: #1565c0;
}
.pdf-controls-page-counter {
    position: relative;
    margin: 0 auto;
    top: 30%;
}

.pdf-controls button {
    position: relative;
}

.metadata-subtitle {
    margin-bottom: 30px;
    border-bottom-style: ridge;
}


.named-div {
    background-color: #3e4a5d;
    color: #f5f5f5;
}

.oform-sized {
    width: 80%;
    float: left;
    margin-left: 40px;
}

.oform-sized-30 {
    width: 30%;
    float: left;
    /*margin-left: 5px;*/
}

.oform-sized-50 {
    width: 50%;
    float: left;
    /*margin-left: 5px;*/
}

.oform-msgicon {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}

.o-table {
    font-size: 22px;
}

.o-table-head {

}

.o-table-body {

}

.o-table-row {
    padding: 5px 5px 5px 5px;
}

.o-table-cell {
    padding: 5px 5px 5px 5px;
}

.page-title {
    color: #ffffff;
    background-color: #3e4a5d;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

.acc-save-btn {
    margin-left: 0px;
}

.header-img-btn-left {
    float: left;
    display: inline;
    cursor: pointer;
    margin-right: 20px
}
.header-img-btn-right {
    float: right;
    display: inline;
    cursor: pointer;
    margin-left: 20px
}


.changed {color: red;}
/* ****************************************************** */
/* general overrides                                      */
/* ****************************************************** */
@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}

.minicolors {
    float: left;
}

.wrapword {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-dialog {
    left: auto;
}

.midHeightInput {
    height: 27px;
}
/* ****************************************************** */
/* Default Header Menu                                    */
/* ****************************************************** */
.head-menu {
    padding-top: 5px;
    margin-top: 9px;
}

.header-menu {
    height: auto;
    margin-top: 20px;
}

.head-menu-item {
    width: 9.88%;
}


/* ****************************************************** */
/* Default Context                                        */
/* ****************************************************** */
.content-container {
    padding: 0px 0px 0px 0px;
    margin-top: 30px;
}

/* ****************************************************** */
/* Login Dialogue                                         */
/* ****************************************************** */
/* The header text of the login dialogue. */
.oform-header {
    margin-bottom: 40px;
}

.help-block {
    margin-top: 0px;
    margin-bottom: 0px;
}

.login-hr {
    top: 342px;
}

.login-btn {
    margin-left: 0px;
}

.login-span {
    top: 415px;
    margin-left: 20px;
}

/** Message bar for info and error messages on the login dialoge */
.login-message {
    margin-top: 10px;
    padding: 1px 5px 2px 5px;
    z-index: 1000;
    opacity: 0.8;
    float: inherit;
    position: absolute;
    top: 110px;
    left: 56px;
    width: 319px;
    word-wrap: break-word;
}

/* Opened tabs on the login dialogue */
.tab-opened {
    border-top: 12px solid #d1d5da;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    display: block;
    float: left;
    position: relative;
    left: 82px;
    top: 0px;
}

/* Tabs on the login dialogue */
.otab {
    background-color: #d1d5da;
    width: 190px;
    height: 25px;
    display: block;
    float: left;
}

/* Tab-Links on the login dialogue */
.otab-link {
    background-color: #d1d5da;
    width: 100px;
    height: 50px;
}

#loginDialog {
    margin-top: 180px;
    -webkit-animation: fadeinLogin 0.8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinLogin 0.8s; /* Firefox < 16 */
    -ms-animation: fadeinLogin 0.8s; /* Internet Explorer */
    -o-animation: fadeinLogin 0.8s; /* Opera < 12.1 */
    animation: fadeinLogin 0.8s;
}

@keyframes fadeinLogin {
    from {
        opacity: 0;
        margin-top: 100px;
    }
    to   {
        opacity: 1;
        margin: 180px;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinLogin {
    from {
        opacity: 0;
        margin-top: 100px;
    }
    to   {
        opacity: 1;
        margin: 180px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinLogin {
    from {
        opacity: 0;
        margin-top: 100px;
    }
    to   {
        opacity: 1;
        margin: 180px;
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinLogin {
    from {
        opacity: 0;
        margin-top: 100px;
    }
    to   {
        opacity: 1;
        margin: 180px;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinLogin {
    from {
        opacity: 0;
        margin-top: 100px;
    }
    to   {
        opacity: 1;
        margin: 180px;
    }
}
/*
.panel-body {
    background-color: #555668;
}
*/
/* ****************************************************** */
/* Order Management                                       */
/* ****************************************************** */
.btn-image {
    border: 1px solid;
}

.div-order-items {
    /*
        margin-left: 25px;*/
}

.div-order-cmb {
    margin-top: 15px;
    /*
    margin-left: 25px;
    padding-right: 0px;*/
}

.img-order-items {
    border: 1px solid #728591;
}

.order-cmb {
    width: 120px;
    left: 110px;
    position: absolute;
}

#img-order-btn {

}

.order-row-margin {
    margin-bottom: 30px;
    margin-top: 30px;
}

/* ****************************************************** */
/* Offering Management                                    */
/* ****************************************************** */

.offering-category {
    margin-bottom: 30px;
}

.offering-category-headline {
    border-radius: 5px;
    border: 1px solid #3e4a5d;
    padding: 10px 15px 10px 15px;
    width: 50%;
}

.offering-facility {
    font-weight: bold;
    font-size: medium;
    border-bottom: 1px solid #3e4a5d;
    margin: 0px 15px 10px 15px;
}

/* The headline text of OfferingDetails->Items */
.offering-headline {
    font-weight: bold;
    font-size: medium;
    margin: 10px 15px 10px 15px;
    /*border-bottom: 1px solid #3e4a5d;
    padding: 10px 15px 10px 15px;*/
}

.offering-card {
    width: 223px;
    margin: 20px 20px 20px 20px;
    padding: 15px 5px 5px 5px;
    border: 1px solid;
}

.offering-card:hover {
    background-color: #e1e76b;
}

/* The headline of sections of the OfferingDetails screen */
.page-subsection {
    padding-bottom: 50px;
}
/* The item card of each OfferingDetails->Items */
.offering-section {
    /*width: 450px;*/
    float: none;
    margin: 2px 0px 2px 0px;
    padding: 8px 5px 8px 5px;
    border: 1px solid;
    height: 68px;
}
/* Offering Details */
.offering-nav-tabs > ul {
    border-bottom: 1px solid #3e4a5d;
    margin-bottom: 20px;
}
.offering-nav-tabs > ul > li {
    height: 50px;
}
/** Overrides heroku:4049 */
.offering-nav-tabs > ul > li > a {
    height: 50px;
    font-size: 18px;
    border-color: #3e4a5d #3e4a5d #3e4a5d;
}
.offering-nav-tabs > ul > li > a:hover {
    border-color: #3e4a5d #3e4a5d transparent;
}
.offering-nav-tabs > ul > li.active > a {
    height: 50px;
    color: #ffffff;
    background-color: #3e4a5d;
    border: 1px solid #3e4a5d;
}
.offering-nav-tabs > ul > li.active > a:hover {
    border-color: #3e4a5d #3e4a5d transparent;
    background-color: #3e4a5d;
    color: #ffffff;
}

/* The div around the position of each OfferingDetails->Items */
.offering-item-position-div {
    float: left;
    height: 50px;
    margin-right: 10px;
}
/* The div around the icon symbol of each OfferingDetails->Items */
.offering-item-icon-div {
    float: left;
    height: 22px;
    margin-right: 10px;
}
/* The icon of each OfferingDetails->Items */
.offering-item-icon {
    vertical-align: text-top;
}
.offering-item-content-div {
    float: left;
}

.offering-d-position {
    font-size: 20px;
    letter-spacing: 0.0125em;
    margin-top: -3px;
}
.offering-d-headline {
    font-weight: bold;
    font-size: medium;
    margin: 0px 15px 10px 0px;
}
/* The description text of OfferingDetails->Items */
.offering-d-description {
    font-size: small;
}

/*Buttons*/

#refreshDossierTilesBtn {
    margin-top: 14px;
    margin-right: 25px;
}

#addBtn {
    padding: 0px 0px 0px 0px;
}

#backBtn {
    height: 55px;
    width: auto;
    margin: 0 20px 0 0;
    text-align: center;
    padding-top: 4px;
}

.fabFoot {
    position: relative;
    height: 70px;
}

.fabTree {
    position: relative;
    top: 15px;
}

#fab {
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
}

#fab i{
    margin-top: 4px;
    margin-bottom: 1px;
    height: 25px;
    width: 25px;
}

#loginControls {
    position: relative;
    height: 50px;
}

#loginControls button {
    position: absolute;
    right: 20px;
}

/*navbar*/

.navbar-brand i {
    padding: 12px;
}

#navigationBar {
    margin-top: 50px;
    height: 55px;
}

.backBtnHeader {
    padding: 0;
}


/*MetadataCard*/
.metadataCard{
    position:relative;
    height: 300px
}


.metadataCard.card{
    height: 300px
}

/* ****************************************************** */
/* Inventory Management                                   */
/* ****************************************************** */

.inventory-tablegroup {
    font-weight: bold;
    font-size: medium;
    border-bottom: 1px solid #3e4a5d;
    margin: 0px;
    padding: 8px;
}


.dl-horizontal dd {
    margin-left: 100px;
}

.dl-horizontal dt {
    width: 80px;
}

.dl-horizontal {
    border: 1px solid #728591;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 20px;
    padding: 15px;
}

.selectedRow {
    background-color: #e1e76b;
}


/* ****************************************************** */
/* Loading Spinner                                        */
/* ****************************************************** */

#contentSpinner {
    position: absolute;
    z-index: 10;
    top: 35%;
    left: 44%;
}


.loader {
    margin: 0px auto;
    width: 100px;
    height: 100px;
    zoom: 1.7;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100px;
    position: relative;
    width: 100px;
}

.path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
@-webkit-keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}
@keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}

/* ****************************************************** */
/* DossierTiles                                          */
/* ****************************************************** */
#dossierTiles {
    -webkit-animation: fadeinDossiers 0.8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinDossiers 0.8s; /* Firefox < 16 */
    -ms-animation: fadeinDossiers 0.8s; /* Internet Explorer */
    -o-animation: fadeinDossiers 0.8s; /* Opera < 12.1 */
    animation: fadeinDossiers 0.8s;
}

@keyframes fadeinDossiers {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinDossiers {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinDossiers {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinDossiers {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinDossiers {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}