<img src="../images/logo.png" class="img-rounded"></img>

<div id="navigationBar" class="navbar navbar-material-blue-800 card">
    <div class="navbar-header">
        <a class="dossierTitle navbar-brand">{{'DOSSIER.PAGE_TITLE'|translate}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <!--menus-->
        </ul>
        <form class="navbar-form navbar-left">
            <div class="searchField form-group form-group-material-blue-800">
                <input type="text" class="form-control col-lg-8" ng-model="query" placeholder="Search">
            </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <div id="refreshDossierTilesBtn" class="header-img-btn-right" ng-click="reload()">
                <i class="mdi-navigation-refresh"  ng-class="{true: 'rotate', false: ''}[rotateRefresh]" tooltip="{{'DOSSIER.TT_RELOAD'|translate}}"></i>
            </div>
        </ul>
    </div>
</div>
