<img src="../images/logo.png" class="img-rounded"></img>


<div id="navigationBar" class="navbar navbar-material-blue-800">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="backBtnHeader navbar-brand"><button class="btn btn-material-blue-800" id="backBtn" ng-click="back()"><i class="mdi-navigation-arrow-back"></i></button>{{'DOSSIER.PAGE_TITLE'|translate}}: {{folderModel.selectedDossier.dossierId}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <!--menus-->
        </ul>
        <form class="navbar-form navbar-left">
            <!--menus left-->
        </form>
        <ul class="nav navbar-nav navbar-right">
            <!--menus right-->
        </ul>
    </div>
</div>