<h3 class="page-title">
    <span>{{'DOSSIER.PAGE_TITLE'|translate}}</span>
    <div class="header-img-btn-right"><i class="glyphicon glyphicon-refresh" ng-click="reload()"
                                         tooltip="{{'DOSSIER.TT_RELOAD'|translate}}"></i></div>
    <div class="header-img-btn-right"><i class="glyphicon glyphicon-plus" ng-click="add()" tooltip="{{'DOSSIER.TT_ADD'|translate}}"></i></div>
</h3>
<hr/>
<div id="step1" class="container">

    <div class="row">
        <div ng-click="select(dossier)" ng-repeat="dossier in dossierModel.dossiers">
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="../images/catalog.png" class="img-rounded">

                    <div>
                        <h5 style="padding-left: 20px">{{dossier.dossierId}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>



