<div id="dossierTiles" class="container">
    <div class="row">
        <div ng-click="select(dossier)" ng-repeat="dossier in dossierModel.dossiers">
            <div class="col-md-2">
                <a class="thumbnail">
                    <img src="../images/Folder-blue-icon.png" class="img-rounded">
                    <div>
                        <h5 style="padding-left: 20px">{{dossier.dossierId}}</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="fabFoot">
        <button id="fab" class="btn btn-fab btn-raised btn-material-blue-800" ng-click="add()" tooltip="{{'DOSSIER.TT_ADD'|translate}}"><i class="mdi-content-add"></i></button>
    </div>
</div>



