<div class="metadata-div row shadow-z-2" xmlns="http://www.w3.org/1999/html">
    <abn-tree
            tree-data="data"
            tree-control="my_tree"
            expand-level="2"
            on-select="selectTreeElement(branch)"></abn-tree>
    <div ng-init=""></div>
    <div class="fab" ng-if="treeElementSelected()">
        <button id="fabAddDialog" class="btn btn-fab btn-raised btn-material-blue-800" data-toggle="modal" data-target="#addDialog"><i class="mdi-content-add"></i></button>
    </div>

    <div id="addDialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Select which element you want to add here: </h4>
                </div>
                <div class="modal-body">
                    <div class="elementSelection">
                        <div class="radio radio-material-blue-800">
                            <label>
                                <input type="radio" name="elementSelection" value="folder" ng-click="addSelection('folder')">
                                Folder
                            </label>
                        </div>
                        <div class="radio radio-material-blue-800">
                            <label>
                                <input type="radio" name="elementSelection" value="document" ng-click="addSelection('document')">
                                Document
                            </label>
                        </div>
                    </div>
                    <form class="form-horizontal" id="addFolderForm" ng-submit="add()" style="display: none">
                        <fieldset>
                            <legend>Create a new folder:</legend>
                            <div class="form-group form-group-material-blue-800">
                                <label for="inputFolderName" class="col-lg-2 control-label"  style="color: black">Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputFolderName" placeholder="Name" ng-model="newFolder.name">
                                </div>
                            </div>
                            <div class="form-group form-group-material-blue-800">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary btn-material-blue-800" style="float: right">Save</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <form class="form-horizontal" id="addDocumentForm" ng-submit="add()" style="display: none">
                        <fieldset>
                            <legend>Create a new document:</legend>
                            <div class="form-group form-group-material-blue-800">
                                <label for="inputDocumentName" class="col-lg-2 control-label" style="color: black">Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputDocumentName" placeholder="Name" ng-model="newDocument.name">
                                </div>
                            </div>
                            <div class="form-group form-group-material-blue-800">
                                <label for="inputFile" class="col-lg-2 control-label"  style="color: black">Upload filecontent</label>
                                <div class="col-lg-10">
                                    </br>
                                    <input type="text" readonly="" class="form-control floating-label" placeholder="Browse..." ng-model="newDocument.fileName">
                                    <input type="file" id="inputFile" multiple="" ng-model="newDocument.file">
                                </div>
                            </div>
                            <div class="form-group form-group-material-blue-800">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary btn-material-blue-800" style="float: right">Save</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div ng-if="folderModel.selectedType == 'dossier'" class="properties-dialog">
        <h2 class="metadata-subtitle">{{'FOLDER.DOSSIER_METADATA'|translate}}</h2>

        <form class="form-horizontal metadataForm" name="dossierMetadataForm">
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label"style="color: black">{{'FOLDER.E_DOSSIER.ID'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           style="color: grey; background-image: none;"
                           readonly
                           ng-model="folderModel.selectedEntity.identifier"
                           ng-Change="metaDataChanged()"
                           name="dossierIdentifier" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label"style="color: black">{{'FOLDER.E_DOSSIER.BK'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-model="folderModel.selectedEntity.dossierId"
                           ng-Change="metaDataChanged()"
                           name="dossierDossierId" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label"style="color: black">{{'FOLDER.E_DOSSIER.VERSION'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-model="folderModel.selectedEntity.version"
                           ng-Change="metaDataChanged()"
                           name="dossierVersion"/>
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label"style="color: black">{{'FOLDER.E_DOSSIER.ORIGIN_DOSSIER'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-model="folderModel.selectedEntity.originDossier"
                           ng-Change="metaDataChanged()"
                           name="dossierOriginDossier"/>
                </div>
            </div>

            <div class="form-group form-group-material-blue-800" ng-show="folderModel.selectedEntity.properties">
                <label class="col-sm-2 control-label"style="color: black">{{'FOLDER.E_DOSSIER.PROPERTIES'|translate}}</label>
                <div ng-repeat="property in folderModel.selectedEntity.properties">
                    <div class="col-sm-5">
                        <input type="text"
                               class="form-control"
                               ng-model=="property.name"
                               name="dossierPropertyName" />
                    </div>
                    <div class="col-sm-5">
                        <input type="text"
                               class="form-control"
                               ng-model=="property.value"
                               name="dossierPropertyValue" />
                    </div>
                </div>
            </div>
            <div ng-init="setForm(dossierMetadataForm);"></div>
        </form>
    </div>

    <div ng-if="folderModel.selectedType == 'folder'" class="properties-dialog" >
        <h2 class="metadata-subtitle">{{'FOLDER.FOLDER_METADATA'|translate}}</h2>

        <form class="form-horizontal metadataForm form-group-material-blue-800" name="folderMetadataForm">
            <div class="form-group">
                <label class="col-sm-2 control-label"style="color: black">{{'FOLDER.E_FOLDER.ID'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           style="color: grey; background-image: none;"
                           readonly
                           ng-model="folderModel.selectedEntity.identifier"
                           ng-Change="metaDataChanged()"
                           name="folderIdentifier" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label"style="color: black">{{'FOLDER.E_FOLDER.NAME'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-model="folderModel.selectedEntity.name"
                           ng-Change="metaDataChanged()"
                           name="folderName" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label"style="color: black;">{{'FOLDER.E_FOLDER.PROPERTIES'|translate}}</label>
                <div ng-repeat="property in folderModel.selectedEntity.properties">
                    <div class="col-sm-5" ng-style="$first && {} || {'margin-left': '90px'}">
                        <input type="text"
                               class="form-control"
                               ng-model="property.name"
                               ng-Change="metaDataChanged()"
                               name="folderPropertyName"/>
                    </div>
                    <div class="col-sm-5">
                        <input type="text"
                               class="form-control"
                               ng-model="property.value"
                               ng-Change="metaDataChanged()"
                               name="folderPropertyValue" />
                    </div>
                </div>
            </div>
            <div ng-init="setForm(folderMetadataForm);"></div>
        </form>
    </div>

    <div ng-if="folderModel.selectedType == 'document'" class="properties-dialog">
        <h2 class="metadata-subtitle">{{'FOLDER.DOCUMENT_METADATA'|translate}}</h2>

        <form class="form-horizontal metadataForm" name="documentMetadataForm">
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label" style="color: black">{{'FOLDER.E_DOCUMENT.ID'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           style="color: grey; background-image: none;"
                           readonly
                           ng-model="folderModel.selectedEntity.identifier"
                           ng-Change="metaDataChanged()"
                           name="documentIdentifier" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label" style="color: black">{{'FOLDER.E_DOCUMENT.BK'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-model="folderModel.selectedEntity.documentId"
                           ng-Change="metaDataChanged()"
                           name="documentDocumentId" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label" style="color: black">{{'FOLDER.E_DOCUMENT.NAME'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-model="folderModel.selectedEntity.name"
                           ng-Change="metaDataChanged()"
                           name="documentName" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label" style="color: black">{{'FOLDER.E_DOCUMENT.MIME_TYPE'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-model="folderModel.selectedEntity.mimeType"
                           ng-Change="metaDataChanged()"
                           name="documentMimeType" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label" style="color: black">{{'FOLDER.E_DOCUMENT.VERSION'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           ng-model="folderModel.selectedEntity.version"
                           ng-Change="metaDataChanged()"
                           name="documentVersion" />
                </div>
            </div>
            <div class="form-group form-group-material-blue-800">
                <label class="col-sm-2 control-label" style="color: black">{{'FOLDER.E_DOCUMENT.PROPERTIES'|translate}}</label>
                <div class="col-sm-5">
                    <div ng-repeat="property in folderModel.selectedEntity.properties">
                        <div class="col-sm-6">
                            <input type="text"
                                   class="form-control"
                                   ng-model="property.name"
                                   ng-Change="metaDataChanged()"
                                   name="documentPropertyName" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text"
                                   class="form-control"
                                   ng-model="property.value"
                                   ng-Change="metaDataChanged()"
                                   name="documentPropertyValue" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="fab" ng-show="hasMetadataChanged" id="fabSave">
        <button class="btn btn-fab btn-raised btn-material-blue-800" ng-click="save()" tooltip="{{'DOSSIER.TT_ADD'|translate}}"><i class="mdi-action-done"></i></button>
    </div>
</div>
