<div class="metadata-div shadow-z-2">
    <div class="pdf-controls">
        <button class="btn btn-material-blue-800" ng-click="prevPage()" style="position: absolute; left: 20px">Previous</button>
        <span>Page: <span id="page_num">{{page_num}}</span> / <span id="page_count" style="margin: 0 auto"></span></span>
        <button class="btn btn-material-blue-800" ng-click="nextPage()" style="position: absolute; right: 20px">Next</button>
    </div>
    <div id="contentSpinner" style="display:none">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="viewerWrapper">
        <canvas id="viewer-canvas" class="viewer-canvas">
        </canvas>
    </div>
</div>
